<head>
    <meta charset="UTF-16" />
    <title>{{stem}}</title>
</head>

<body>

    <header id="home-page-header">
        <h1><a href="{{root}}">{{title}}</a></h1>
        {{nav}}
    </header>

    <main>
        <section class="wiki-homepage">
            {{content}}
        </section>
        <section class="wiki-contents-array">
            {{contents}}
        </section>
    </main>

    <footer id="home-page-footer">
        Wiki Template: <a href="https://github.com/TEParsons">Todd Parsons</a></br>
    </footer>
</body>